*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:  'playfair display',serif; 
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
    
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top:6rem;
    overflow-x: hidden;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    text-decoration:none;
    color: #f3abab;
}
footer i:hover {
    color: #863f37;
    transform: scale(1.1);
}
header { 
position: fixed;
top: 0; left:0; right: 0;
padding: 2rem 9% ;
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
z-index: 1000;

 background-color:white;  
}
.logo{
    font-size: 3rem;
    color:#f08888a0;
    font-weight: bolder;
    text-decoration: none;
}

  header .nav1 a , i{ 
  font-size: 2rem;
  text-decoration: none;
  color: black;
  padding: 0 1.5rem;
}

.nav1  a:hover{
    color: #f3abab;
    text-decoration: underline #f3abab;
}


 .nav1 .icon i{
       font-size: 3rem;
    color:#f08888a0;
    font-weight: bolder;
    text-decoration: none;
}
header i {
    font-size: 1.8rem;
    color: #e6a8a1;    
    margin-left: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
       padding: .6rem;
    border-radius: 50%;
    background-color: #f9e7e7;
}

header i:hover {
    color: #d99089;
    transform: scale(1.1);
}
  .home{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    background-image: url(../images/ground3.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    
}
.home .content{
    max-width: 60rem;
    padding: 2rem;
}
.home .content h5{
    font-size: 4rem;
    font-weight: 700;
    color:#fff;
    text-shadow: 0 4px 10px rgb(0, 0,0,0.35);
}

.home .content .btn{
    display: inline-block;
    margin: 1.5rem 1rem 0;
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: 600;
    
    background-color:#f78f8fc7;
    border-radius: 3rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 12px rgb(0, 0,0,0.2);
    color: #fffdfce8;

}

header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color:#f08888a0;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(205, 57, 57, 0.3);
    display: none;
}

@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    
}
@media (max-width:800px) {
    header .fa-bars{
        display: block;
    }
    
    header .nav1{
        position:absolute;
        top: 100%; left:0; right: 0;
        border-top: .1rem solid rgb(0, 0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header #toggler:checked ~ .nav1{
        clip-path: polygon(0 0,100% 0,100% 100%, 0% 100%);
    }
    header .nav1  a{
         margin: 1.5rem;
         padding: 1.5rem;
         border: .1rem solid rgb(0, 0,0,.1);  ;
         display: block;
         background-color: #fae9e0;
         border-radius: 1rem;
    }
    
}
@media (max-width:470px) {
    
   html{
        font-size: 50%;
    }
    header{
        padding: 2rem;
    }
    #icon{
  padding:  1rem; 
  
}}


footer:first-of-type {
    background-color: #FCEEEF;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    color:black;
    padding: 30px ;
    display: flex; 
    width: 100%;
    justify-content: space-between;
    padding-bottom: 40px;
}

.footer2{
    box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
    padding: 10px ;
    background-color:#f08888a0;
    color: black;
}

.contect-us{
    height: auto;
    background-color: white;
    padding: 50px;
    background-position: center;
    text-align: center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
   
    
    
}
.contect-us h1{
    font-size: 3.5rem;
    font-weight: 550;
    color:#F59797;
    
}
.icon{
    color:#F59797;
    font-size: 3rem;
}


.btn2:hover {
  background-color: #995f5f;
  border-color: #995f5f;

}
.form-control2 {
    border-bottom: 1px solid gray;
    padding-left: 40px; 
    padding-top: 12px;   
    padding-bottom: 12px;
    font-size: 16px;     
    box-shadow: none;
    width: 90%;        
    box-sizing: border-box;
}

.form-control2:focus,
.form-control2:hover {
    border-bottom: 2px solid #F59797;
    box-shadow: none;
}

.form-group2 {
    position: relative;
    margin-bottom: 2rem;
}

.form-group2 i {
    position: absolute;
    top: 50%;            
    left: 15px;          
    transform: translateY(-50%);
    color: #F59797;
    font-size: 18px;     
    pointer-events: none; 
}


    

.btn2 {
  background-color: #F59797;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
  display: inline-block;  
}
.section-title {
  position: relative;
  display: inline-block;
}

.underline {
  width: 60px;
  height: 2px;
  background-color: #0d6efd; 
  margin-top: 7px;
}

.border-gray {
  border: 1px solid #6c757d; 
}
