*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:  'playfair display',serif; 
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
    
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top:6rem;
    overflow-x: hidden;
}

header { 
position: fixed;
top: 0; left:0; right: 0;
padding: 2rem 9% ;
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
z-index: 1000;
box-shadow: 0.5rem 1rem rgba(177, 122, 122, 0.1);
 background-color:white;  
}
.logo{
    font-size: 3rem;
    color:#f08888a0;
    font-weight: bolder;
    text-decoration: none;
}

  header .nav1 a , i{ 
  font-size: 2rem;
  text-decoration: none;
  color: black;
  padding: 0 1.5rem;
}

.nav1  a:hover{
    color: #f3abab;
    text-decoration: underline #f3abab;
}


 .nav1 .icon i{
       font-size: 3rem;
    color:#f08888a0;
    font-weight: bolder;
    text-decoration: none;
}
header i {
    font-size: 1.8rem;
    color: #e6a8a1;    
    margin-left: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
       padding: .6rem;
    border-radius: 50%;
    background-color: #f9e7e7;
}

header i:hover {
    color: #d99089;
    transform: scale(1.1);
}
.home .content p {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #fff;
    line-height: 1.6;
    text-shadow: 0 3px 6px rgba(0,0,0,0.3);
    display: block;
    margin-top: 1rem;
}


header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color:#f08888a0;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(205, 57, 57, 0.3);
    display: none;
}

@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    
}
@media (max-width:800px) {
    header .fa-bars{
        display: block;
    }
    
    header .nav1{
        position:absolute;
        top: 100%; left:0; right: 0;
        border-top: .1rem solid rgb(0, 0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header #toggler:checked ~ .nav1{
        clip-path: polygon(0 0,100% 0,100% 100%, 0% 100%);
    }
    header .nav1  a{
         margin: 1.5rem;
         padding: 1.5rem;
         border: .1rem solid rgb(0, 0,0,.1);  ;
         display: block;
         background-color: #fae9e0;
         border-radius: 1rem;
    }
    
}
@media (max-width:470px) {
    
   html{
        font-size: 50%;
    }
    header{
        padding: 2rem;
    }
    #icon{
  padding:  1rem; 
  
}}


    .home{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/ground3.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    
}
.home .content{
    max-width: 60rem;
    padding: 2rem;
}
.home .content h3{
    font-size: 6rem;
    font-weight: 700;
    color:#fff;
    text-shadow: 0 4px 10px rgb(0, 0,0,0.35);
}

.home .content .btn{
    display: inline-block;
    margin: 1.5rem 1rem 0;
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: 600;
    
    background-color:#f78f8fc7;
    border-radius: 3rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 12px rgb(0, 0,0,0.2);
    color: #fffdfce8;

}

.favorites {
    background: linear-gradient(#fff, #fdeeee); /* وردي باهت */
    padding-bottom: 5rem;
    padding-top: 5rem;
    position: relative;
    overflow: hidden;
}

.favorites {
    background: #fff;
}

.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #d9a7a0;
}

.fav-card {
    background: #ffffff;
    border-radius: 20px;
    transition: .3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.fav-card img {
    border-radius: 15px;
}

.fav-card h5 {
    font-weight: 600;
    margin-top: 15px;
}

.fav-card .price {
    font-weight: 700;
    margin-top: 5px;
}

.fav-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
}





footer a{
 text-decoration: none;
 font-size: 2rem;
  text-decoration: none;
  color: black;
   padding: 0 1rem;
}

footer
{ 
color:black;
padding: 20px ;
display: flex;
width: 100%;
justify-content: space-between;
padding-bottom: 40px;
border-bottom: .1rem solid black;
}
.last{
background-color:#FCEEEF;
}
#icon{
  padding:  3rem; 
  
}
#box ul{
    list-style-type: none;   
}
#box li a{
    color: black;
    font-size: 1.5rem;
}
#icon i{
    padding: 0 1rem;
    font-size: 2.5rem;
    color: rgb(245, 151, 151);
}
#icon i:hover{
    color: #c15656;
}
.rights{
    background-color: #E8B5BE;
}

.section-title {
    font-size: 28px;
    font-weight: 700;
    color: #b57f86;
    margin-bottom: 20px;
}

.about-text {
    font-size: 17px;
    line-height: 1.8;
    color: #444;
}


.about-section,
.testimonials-section {
    background: #fff;
}


.testimonial-card {
    border-radius: 100px;
    text-align: start;
}

.pink-card {
    background: #ffe5e8;
    
    
}
.green-card {
    background: #e7fff2;
}

.user-img {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.stars {
    font-size: 20px;
    color: #f4b400;
}

.about-section {
    background-color: #FCEEF2;  
    padding: 60px 0;       
}

