/* Background */
body, .navbar {
  background-image: url('../images/login3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar h1 {
  font-size: 2rem; 
  font-weight: bold;
}

.navbar .navbar-nav .nav-link {
  color: #2f5a3f; 
  font-weight: 600;
}

.navbar .navbar-nav .nav-link:hover {
  color: #5ab96e;
}

/* Card Design */
.card-product {
  background: #ffffff;
  border-radius: 20px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card-product:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.16);
}

/* Image Box */
.img-box {
  width: 100%;
  height: 170px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.img-box img {
  width: 80%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px;
}

/* Texts */
.price {
  font-size: 16px;
  font-weight: bold;
  color: #2f5a3f;
}

.pill {
  padding: 4px 12px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: #fff;
}

aside {
  position: sticky;
  top: 20px;
}

/* Footer */
.footer2 p {
  margin: 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  text-decoration:none;
  color: #f3abab;
}
footer i:hover {
  color: #863f37;
  transform: scale(1.1);
}
