/* ===== عام ===== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #333;
}

/* ===== NAVBAR ===== */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background: #fff;
}

.logo {
  color: #d87093;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  cursor: pointer;
  color: #666;
}

.menu .active {
  color: #d87093;
}

/* ===== MAIN ===== */
.main {
  margin-top: 50px;
}

/* ===== صورة المنتج ===== */

.image-box img {
  width: 70%;
  height: 100%;
  object-fit: cover; 
}
/* ===== تفاصيل المنتج ===== */
.title {
  color: #d87093;
  margin-bottom: 15px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.desc {
  color: #666;
  margin-bottom: 25px;
}

/* ===== زر Add to cart ===== */
.cart-btn {
  background: #d87093;
  color: #fff;
  border: none;
  padding: 12px 66px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.cart-btn:hover {
  background: #c75d84;
  transform: translateY(-3px);
}

/* ===== المنتجات المشابهة ===== */
.like-title {
  margin: 40px 0 20px;
  color: #d87093;
}

/* ===== الكارد ===== */
.card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px #ddd;
}
.menu li {
  cursor: pointer;
  color: #666;
  position: relative;
  transition: 0.3s;
}

/* لون عند الهوفر */
.menu li:hover {
  color: #d87093;
}

/* خط تحت الكلمة */
.menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #d87093;
  transition: 0.3s;
}

.menu li:hover::after {
  width: 100%;
}


.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.card p {
  margin: 10px 0 5px;
}

.card span {
  color: #d87093;
  font-weight: bold;
}

/* ===== FOOTER ===== */
.footer {
  text-align: center;
  padding: 20px;
  background: #f5f5f5;
  
  width: 100%;

}